main {
    display: grid;
    grid-template-rows: 300px 1fr;
    color: aliceblue;
    margin-bottom: 20px;
}

.container .intro {
    grid-row: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    width: 40%;
}

.intro * {
    font-family: "Roboto", serif;
    margin-top: 20px;
}

.intro p {
    font-size: 20px;
}

.art {
    display: flex;
    justify-content: space-evenly;
}

.art * {
    font-family: "Protest Revolution", sans-serif;
    font-size: 25px;
}

.league video, .burst1 video {
    transition: 0.5s;
}

.league video:hover, .burst1 video:hover {
    box-shadow: 2px 2px 10px;
    scale: 1.1;
    color: aquamarine;
}

.art div {
    display: flex;
    flex-direction:column;
    align-items: center;
}

